<h1 md-dialog-title> {{'DIALOG.OPEN_SHEET.HEADER'| translate}}</h1>

<md-dialog-content>
  <md-tab-group>
    <md-tab label="{{'DIALOG.OPEN_SHEET.FROM_FILE'| translate}}">
      <input type="file" accept="application/json" (change)="onFileSelect($event)" placeholder="Upload file..."/>
    </md-tab>
    <md-tab label="{{'DIALOG.OPEN_SHEET.PREVIOUSLY'| translate}}">
      <button md-button *ngFor="let sheet of previouslyOpenedSheets;">
        <div class="sheetRow flex-container"
             fxLayout="row"
             fxLayputGap="6px">
          <div class="avatar">
            <img class="flex-item" src="assets/images/empty-portrait.png">
          </div>
          <div class="sheetInfo flex-item flex-container"
               fxLayout="column"
               fxLayoutWrap="nowrap">
            <span class="sheetName flex-item">{{sheet.name}}</span>
            <span class="sheetPoints flex-item">137 points</span>
          </div>
        </div>
      </button>
    </md-tab>
  </md-tab-group>
</md-dialog-content>

<md-dialog-actions>
  <button md-button [disabled]="!sheetSelected" (click)="onLoadSheet()"> {{'DIALOG.OK'| translate}}</button>
  <button md-button md-dialog-close> {{'DIALOG.CANCEL'| translate}}</button>
</md-dialog-actions>
