<h1 md-dialog-title> {{'DIALOG.OPEN_SHEET.HEADER'| translate}}</h1>

<md-dialog-content>
  <md-tab-group>
    <md-tab label="{{'DIALOG.OPEN_SHEET.FROM_FILE'| translate}}">
      <input type="file" accept="application/json" (change)="onFileSelect($event)" placeholder="Upload file..."/>
    </md-tab>
    <md-tab label="{{'DIALOG.OPEN_SHEET.PREVIOUSLY'| translate}}">
      <li *ngFor="let sheet of previouslyOpenedSheets;">
        {{sheet.name}}
      </li>
    </md-tab>
  </md-tab-group>
</md-dialog-content>

<md-dialog-actions>
  <button md-button [disabled]="!sheetSelected" (click)="onLoadSheet()"> {{'DIALOG.OK'| translate}}</button>
  <button md-button md-dialog-close> {{'DIALOG.CANCEL'| translate}}</button>
</md-dialog-actions>
