<h1 md-dialog-title> {{'DIALOG.OPEN_SHEET.HEADER'| translate}}</h1>

<md-dialog-content>
  <md-tab-group (selectChange)="onTabSelectChange($event)">
    <md-tab label="{{'DIALOG.OPEN_SHEET.FROM_FILE'| translate}}">
      <input type="file" accept="application/json" (change)="onFileSelect($event)" placeholder="Upload file..."/>
    </md-tab>
    <md-tab label="{{'DIALOG.OPEN_SHEET.PREVIOUSLY'| translate}}">
      <button md-button *ngFor="let sheet of previouslyOpenedSheets;" (click)="onPreviousSheetSelected(sheet)">
        <div class="sheetRow flex-container"
             fxLayout="row"
             fxLayoutAlign="start stretch">
          <div class="avatar flex-item">
            <img src="assets/images/empty-portrait.png">
          </div>
          <div class="sheetInfo">
            <span class="sheetName">{{sheet.metaData.identity.name}}</span>
            <span class="sheetPoints"> ({{sheet.points.total}} {{'SHEET.POINTS.POINTS'| translate}})</span>
          </div>
        </div>
      </button>
    </md-tab>
  </md-tab-group>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button [disabled]="!showOk" (click)="onLoadSheet()"> {{'DIALOG.OK'| translate}}</button>
  <button md-button md-dialog-close> {{'DIALOG.CANCEL'| translate}}</button>
</md-dialog-actions>
