<div class="sheetComponent flex-item" fxFlex>
  <div class="sheetComponentHeader">
    {{ 'SHEET.DESCRIPTION.DESCRIPTION' | translate }}
  </div>
  <div class="sheetComponentBody flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch">
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.RACE' | translate }}</td>
          <td>{{readSheet.metaData.description.race}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.GENDER' | translate }}</td>
          <td>{{readSheet.metaData.description.gender}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.AGE' | translate }}</td>
          <td>{{readSheet.metaData.description.age}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.BIRTHDAY' | translate }}</td>
          <td>{{readSheet.metaData.description.birthday}}</td>
        </tr>
      </table>
    </div>
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.WEIGHT' | translate }}</td>
          <td>{{readSheet.metaData.description.weight}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.HEIGHT' | translate }}</td>
          <td>{{readSheet.metaData.description.height}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.SIZE' | translate }}</td>
          <td>{{readSheet.secondaryCharacteristics.sizeModifier}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.TL' | translate }}</td>
          <td>{{readSheet.metaData.description.TL}}</td>
        </tr>
      </table>
    </div>
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.HAIR' | translate }}</td>
          <td>{{readSheet.metaData.description.hair}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.EYES' | translate }}</td>
          <td>{{readSheet.metaData.description.eyes}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.SKIN' | translate }}</td>
          <td>{{readSheet.metaData.description.skin}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.HAND' | translate }}</td>
          <td>{{readSheet.metaData.description.hand}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
