<div class="sheetComponent identity">
    <div class="sheetComponentHeader">
        {{ 'SHEET.IDENTITY.IDENTITY' | translate }}
    </div>
    <div class="sheetComponentBody">
        <div class="sheetComponentBodyLine">
            <label> {{ 'SHEET.IDENTITY.NAME' | translate }}</label>
            <input type="text" placeholder="Dai Blackthorn">
        </div>
        <div class="sheetComponentBodyLine">
            <label> {{ 'SHEET.IDENTITY.TITLE' | translate }}</label>
            <input type="text" placeholder="Captain">
        </div>
        <div class="sheetComponentBodyLine">
            <label> {{ 'SHEET.IDENTITY.RELIGION' | translate }}</label>
            <input type="text" placeholder="Atheist">
        </div>
    </div>
</div>
