<div class="sheetComponent encumbrance">
  <div class="sheetComponentHeader">
    {{ 'SHEET.ENCUMBRANCE.ENCUMBRANCE' | translate }}
  </div>
  <div class="sheetComponentBody flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch">
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr class="headerRow">
          <td>{{ 'SHEET.ENCUMBRANCE.LEVEL' | translate }}</td>
          <td>{{ 'SHEET.ENCUMBRANCE.MAX_LOAD' | translate }}</td>
          <td>{{ 'SHEET.ENCUMBRANCE.MOVE' | translate }}</td>
          <td>{{ 'SHEET.ENCUMBRANCE.DODGE' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.ENCUMBRANCE.NONE' | translate }}</td>
          <td>{{sheet.secondaryCharacteristics.maxLoad.none | weight}}</td>
          <td>{{sheet.secondaryCharacteristics.move.none}}</td>
          <td>{{sheet.secondaryCharacteristics.dodge.none}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.ENCUMBRANCE.LIGHT' | translate }}</td>
          <td>{{sheet.secondaryCharacteristics.maxLoad.light | weight}}</td>
          <td>{{sheet.secondaryCharacteristics.move.light}}</td>
          <td>{{sheet.secondaryCharacteristics.dodge.light}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.ENCUMBRANCE.MEDIUM' | translate }}</td>
          <td>{{sheet.secondaryCharacteristics.maxLoad.medium | weight}}</td>
          <td>{{sheet.secondaryCharacteristics.move.medium}}</td>
          <td>{{sheet.secondaryCharacteristics.dodge.medium}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.ENCUMBRANCE.HEAVY' | translate }}</td>
          <td>{{sheet.secondaryCharacteristics.maxLoad.heavy | weight}}</td>
          <td>{{sheet.secondaryCharacteristics.move.heavy}}</td>
          <td>{{sheet.secondaryCharacteristics.dodge.heavy}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.ENCUMBRANCE.XHEAVY' | translate }}</td>
          <td>{{sheet.secondaryCharacteristics.maxLoad.xHeavy | weight}}</td>
          <td>{{sheet.secondaryCharacteristics.move.xHeavy}}</td>
          <td>{{sheet.secondaryCharacteristics.dodge.xHeavy}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
