<div class="sheetComponent">
  <div class="sheetComponentHeader">
    {{ 'SHEET.HIT_LOCATION.HIT_LOCATION' | translate }}
  </div>
  <div class="sheetComponentBody">
    <table class="headerRowTable">
      <tr class="headerRow">
        <td>{{ 'SHEET.HIT_LOCATION.ROLL' | translate }}</td>
        <td>{{ 'SHEET.HIT_LOCATION.WHERE' | translate }}</td>
        <td>-</td>
        <td>{{ 'SHEET.HIT_LOCATION.DR' | translate }}</td>
      </tr>
      <tr>
        <td>-</td>
        <td>{{ 'SHEET.HIT_LOCATION.EYE' | translate }}</td>
        <td>-9</td>
        <td>{{sheet.damageResistances.eye}}</td>
      </tr>
      <tr>
        <td>3-4</td>
        <td>{{ 'SHEET.HIT_LOCATION.SKULL' | translate }}</td>
        <td>-7</td>
        <td>{{sheet.damageResistances.skull}}</td>
      </tr>
      <tr>
        <td>5-5</td>
        <td>{{ 'SHEET.HIT_LOCATION.FACE' | translate }}</td>
        <td>-5</td>
        <td>{{sheet.damageResistances.face}}</td>
      </tr>
      <tr>
        <td>6-7</td>
        <td>{{ 'SHEET.HIT_LOCATION.RIGHT_ARM' | translate }}</td>
        <td>-2</td>
        <td>{{sheet.damageResistances.rightLeg}}</td>
      </tr>
      <tr>
        <td>8-8</td>
        <td>{{ 'SHEET.HIT_LOCATION.RIGHT_LEG' | translate }}</td>
        <td>-2</td>
        <td>{{sheet.damageResistances.rightArm}}</td>
      </tr>
      <tr>
        <td>9-10</td>
        <td>{{ 'SHEET.HIT_LOCATION.TORSO' | translate }}</td>
        <td>0</td>
        <td>{{sheet.damageResistances.torso}}</td>
      </tr>
      <tr>
        <td>11-11</td>
        <td>{{ 'SHEET.HIT_LOCATION.GROIN' | translate }}</td>
        <td>-3</td>
        <td>{{sheet.damageResistances.groin}}</td>
      </tr>
      <tr>
        <td>12-12</td>
        <td>{{ 'SHEET.HIT_LOCATION.LEFT_ARM' | translate }}</td>
        <td>-2</td>
        <td>{{sheet.damageResistances.leftArm}}</td>
      </tr>
      <tr>
        <td>13-14</td>
        <td>{{ 'SHEET.HIT_LOCATION.LEFT_LEG' | translate }}</td>
        <td>-2</td>
        <td>{{sheet.damageResistances.leftLeg}}</td>
      </tr>
      <tr>
        <td>15-15</td>
        <td>{{ 'SHEET.HIT_LOCATION.HAND' | translate }}</td>
        <td>-4</td>
        <td>{{sheet.damageResistances.hand}}</td>
      </tr>
      <tr>
        <td>16-16</td>
        <td>{{ 'SHEET.HIT_LOCATION.FOOT' | translate }}</td>
        <td>-4</td>
        <td>{{sheet.damageResistances.foot}}</td>
      </tr>
      <tr>
        <td>17-18</td>
        <td>{{ 'SHEET.HIT_LOCATION.NECK' | translate }}</td>
        <td>-5</td>
        <td>{{sheet.damageResistances.neck}}</td>
      </tr>
      <tr>
        <td>-</td>
        <td>{{ 'SHEET.HIT_LOCATION.VITALS' | translate }}</td>
        <td>-3</td>
        <td>{{sheet.damageResistances.vitals}}</td>
      </tr>
    </table>
  </div>
</div>
