<div class="sheetHeader">
  <app-portrait-component class="portraitWrapper"></app-portrait-component>
  <div class="centerComponentsWrapper">
    <div class="centerComponentsFirstLineWrapper">
      <app-identity-component class="identityWrapper"></app-identity-component>
      <app-player-information-component class="playerInformationWrapper"></app-player-information-component>
    </div>
    <app-description-component class="descriptionWrapper"></app-description-component>
  </div>
  <app-points-component class="pointsWrapper"></app-points-component>
</div>
