.sheetHeader {
  border: black solid 1px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

@media screen and (min-width: 619px) {
  .portraitWrapper {
    flex: none;
  }
}

@media screen and (max-width: 620px) {
  .portraitWrapper {
    display: none;
  }
}

.descriptionWrapper {
  flex: 1;
  margin-bottom: 10px;
}

.pointsWrapper {
  flex: none;
}

.centerComponentsWrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.centerComponentsFirstLineWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.identityWrapper,
.playerInformationWrapper {
  flex: auto;
}

