<div class="sheetHeader">
  <gurpsy-portrait-component class="portraitWrapper" fxHide="false"  fxHide.xs></gurpsy-portrait-component>
  <div class="centerComponentsWrapper">
    <div class="centerComponentsFirstLineWrapper">
      <gurpsy-identity-component class="identityWrapper"></gurpsy-identity-component>
      <gurpsy-player-information-component class="playerInformationWrapper"></gurpsy-player-information-component>
    </div>
    <gurpsy-description-component class="descriptionWrapper"></gurpsy-description-component>
  </div>
  <gurpsy-points-component class="pointsWrapper"></gurpsy-points-component>
</div>
