<gurpsy-notes-component *ngIf="bodyContent === sheetBodyComponents.NOTES"></gurpsy-notes-component>
<gurpsy-skills-component *ngIf="bodyContent === sheetBodyComponents.SKILLS"></gurpsy-skills-component>
<gurpsy-advantages-component *ngIf="bodyContent === sheetBodyComponents.ADVANTAGES"></gurpsy-advantages-component>
<gurpsy-equipment-component *ngIf="bodyContent === sheetBodyComponents.EQUIPMENT"></gurpsy-equipment-component>
<gurpsy-magic-component *ngIf="bodyContent === sheetBodyComponents.MAGIC"></gurpsy-magic-component>
