<gurpsy-general-component
  *ngIf="bodyContent === sheetBodyComponents.GENERAL">
</gurpsy-general-component>
<gurpsy-notes-component
  *ngIf="bodyContent === sheetBodyComponents.NOTES">
</gurpsy-notes-component>
<gurpsy-skills-component
  *ngIf="bodyContent === sheetBodyComponents.SKILLS">
</gurpsy-skills-component>
<gurpsy-advantages-disadvantages-component
  *ngIf="bodyContent === sheetBodyComponents.ADVANTAGES">
</gurpsy-advantages-disadvantages-component>
<gurpsy-equipment-component
  *ngIf="bodyContent === sheetBodyComponents.EQUIPMENT">
</gurpsy-equipment-component>
<gurpsy-spells-component
  *ngIf="bodyContent === sheetBodyComponents.MAGIC">
</gurpsy-spells-component>
