<gurpsy-struct-general
  *ngIf="bodyContent === sheetBodyComponents.GENERAL">
</gurpsy-struct-general>
<gurpsy-notes
  *ngIf="bodyContent === sheetBodyComponents.NOTES">
</gurpsy-notes>
<gurpsy-skills
  *ngIf="bodyContent === sheetBodyComponents.SKILLS">
</gurpsy-skills>
<gurpsy-struct-advantages-disadvantages
  *ngIf="bodyContent === sheetBodyComponents.ADVANTAGES">
</gurpsy-struct-advantages-disadvantages>
<gurpsy-equipment
  *ngIf="bodyContent === sheetBodyComponents.EQUIPMENT">
</gurpsy-equipment>
<gurpsy-spells
  *ngIf="bodyContent === sheetBodyComponents.MAGIC">
</gurpsy-spells>
