<div class="bookViewer">
  <div class="closeButton">
    <button mat-fab>
      <mat-icon (click)="onCloseBookViewerClicked()">close</mat-icon>
    </button>
  </div>

  <pdf-viewer [src]="pdfSrc"
              [page]="page"
              [zoom]="zoom"
              [original-size]="false"
              [fit-to-page]="true"
              class="pdfViewer">
  </pdf-viewer>

  <div class="pdfControls">
    <button mat-raised-button (click)="onZoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-raised-button (click)="onZoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </div>
</div>
