.bookViewer {

  height: 100%;

  .pdfViewer {
    display: block;
    height: 100%;
  }

  .pdfControls {
    position: sticky;
    position: -webkit-sticky;
    text-align: center;
    z-index: 100;
    bottom: 2px;
  }
}
