<div class="flex-container bookConfigHeader"
     fxLayout="row"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap">
  <div class="flex-item"
       fxFlexAlign="center">
    {{ 'BOOK.BOOK_' + configuration.book | translate }}
  </div>
  <button md-icon-button
          class="flex-item"
          (click)="onToggleDetails()">
    <md-icon *ngIf="showDetails">keyboard_arrow_up</md-icon>
    <md-icon *ngIf="!showDetails">keyboard_arrow_down</md-icon>
  </button>
</div>
<div class="flex-container details"
     fxLayout="column"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap"
     *ngIf=showDetails>
  <md-select
    class="flex-item"
    fxFlex="100%"
    (change)="onChangeBookConfiguration()"
    [(ngModel)]="configuration.book">
    <md-option *ngIf="configuration.book > -1" [value]="configuration.book">
      {{ 'BOOK.BOOK_' + configuration.book | translate }}
    </md-option>
    <md-option *ngFor="let book of availableBooks" [value]="book">
      {{ 'BOOK.BOOK_' + book | translate }}
    </md-option>
  </md-select>
  <div
    class="flex-container"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutWrap="nowrap">
    <md-input-container
      class="fileLocation flex-item"
      fxFlex="100%">
      <input
        mdInput
        placeholder="{{'DIALOG.SETTINGS.LIBRARY_SETTINGS.FILE_LOCATION'| translate}}"
        [(ngModel)]="configuration.file"
        (change)="onChangeBookConfiguration()">
    </md-input-container>
    <md-input-container class="flex-item" class="offset">
      <input mdInput
             type="number"
             placeholder="{{'DIALOG.SETTINGS.LIBRARY_SETTINGS.OFFSET'| translate}}"
             [(ngModel)]="configuration.offset"
             (change)="onChangeBookConfiguration()">
    </md-input-container>
  </div>
  <button class="flex-item"
          fxFlexAlign="end"
          md-icon-button
          (click)="onDeleteBookConfiguration()">
    <md-icon color="warn">delete_forever</md-icon>
  </button>
</div>
