@import '../../../../node_modules/@angular/material/theming';

@mixin gurpsy-dialog-theme($theme) {
  $warn: map-get($theme, warn);
  $primary: map-get($theme, primary);
  $foregroundMap: map-get($theme, foreground);

  .header {
    span {
      color: mat-color($foregroundMap, text);
    }
    md-icon {
      color: mat-color($primary);;
    }
  }

  md-card:not(:first-child) {
    margin-top: 12px;
  }

  md-card {
    .dialogCardHeader {
      color: mat-color($primary);
    }

    .dialogCardHeader.warning {
      color: mat-color($warn);
    }
  }
}
