<div class="sheetComponent points">
  <div class="sheetComponentHeader">
    {{ 'SHEET.POINTS.POINTS' | translate }}
  </div>
  <div class="sheetComponentBody">
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.RACE' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.ATTRIBUTES' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.ADVANTAGES' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.DISADVANTAGES' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.QUIRKS' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.SKILLS' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>{{ 'SHEET.POINTS.SPELLS' | translate }}</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine earned">
      <label>{{ 'SHEET.POINTS.EARNED' | translate }}</label>
      <input type="text" placeholder="37">
    </div>
  </div>
</div>
