.points .sheetComponentBody {
  margin-bottom: 0px;
}

.earned {
  border-top: solid darkgray 1px;
}

.earned input {
  width: 30px;
  text-align: right;
}

.points .sheetComponentBody .sheetComponentBodyLine label:first-child {
  width: 57px;
}
