@mixin gurpsy-open-sheet-dialog-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .selectedSheet {

    border: solid 1px mat-color($primary);

    .info {
      border: solid 1px mat-color($accent);
      padding: 4px 10px;
    }

    .warning {
      border: solid 1px mat-color($warn);
      padding: 4px 10px;
    }
  }
}
