<h1 md-dialog-title>
  {{'DIALOG.OPEN_SHEET.HEADER'| translate}}
</h1>

<md-dialog-content>
  <md-card>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="start stretch">
      <md-input-container
        class="flex-item"
        fxFlex="100%"
        (click)="fileInput.selectFile()">
        <input mdInput
               tabindex="-1"
               readonly
               [(ngModel)]="selectedFileName"
               placeholder="{{'DIALOG.OPEN_SHEET.SELECT_FROM_FILE'| translate}}">
      </md-input-container>
      <gurpsy-file-input #fileInput
                         class="flex-item"
                         (onFileSelect)="onFileSelect($event)"
                         [accept]="'application/json'">
      </gurpsy-file-input>
    </div>
    <gurpsy-select-sheet-button *ngIf="selectedSheet"
                                [template]="selectedSheet"
                                [disabled]="true">
    </gurpsy-select-sheet-button>
  </md-card>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button color="primary" [disabled]="!showOk" (click)="onOk()"> {{'DIALOG.OK'| translate}}</button>
  <button md-button color="primary" md-dialog-close> {{'DIALOG.CANCEL'| translate}}</button>
</md-dialog-actions>
