<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'NAVIGATION.GENERAL' | translate }}
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'NAVIGATION.DIS_ADVANTAGES' | translate }}
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-struct-advantages-disadvantages></gurpsy-struct-advantages-disadvantages>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'NAVIGATION.SKILLS' | translate }}
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-skills></gurpsy-skills>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'NAVIGATION.MAGIC' | translate }}
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-spells></gurpsy-spells>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'NAVIGATION.EQUIPMENT' | translate }}
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-equipment></gurpsy-equipment>
      <gurpsy-notes></gurpsy-notes>
    </mat-card>
  </mat-tab>
</mat-tab-group>

