<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fxShow="false" fxShow.xs>accessibility</mat-icon>
      <span fxHide="false"
            fxHide.xs>{{ 'NAVIGATION.GENERAL' | translate }}</span>
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-struct-general></gurpsy-struct-general>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fxShow="false" fxShow.xs>accessible</mat-icon>
      <span fxHide="false"
            fxHide.xs>{{ 'NAVIGATION.DIS_ADVANTAGES' | translate }}</span>
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-struct-advantages-disadvantages></gurpsy-struct-advantages-disadvantages>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fxShow="false" fxShow.xs>school</mat-icon>
      <span fxHide="false"
            fxHide.xs>{{ 'NAVIGATION.SKILLS' | translate }}</span>
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-skills></gurpsy-skills>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fxShow="false" fxShow.xs>flash_on</mat-icon>
      <span fxHide="false"
            fxHide.xs>{{ 'NAVIGATION.MAGIC' | translate }}</span>
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-spells></gurpsy-spells>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fxShow="false" fxShow.xs>work</mat-icon>
      <span fxHide="false"
            fxHide.xs>{{ 'NAVIGATION.EQUIPMENT' | translate }}</span>
    </ng-template>
    <mat-card>
      <gurpsy-sheet-header></gurpsy-sheet-header>
      <gurpsy-equipment></gurpsy-equipment>
      <gurpsy-notes></gurpsy-notes>
    </mat-card>
  </mat-tab>
</mat-tab-group>

