<h1 md-dialog-title
    class="header flex-container"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutWrap="nowrap">
  <md-icon
    class="flex-item">
    settings
  </md-icon>
  <span class="flex-item"
        fxFlex="100%">
    {{'DIALOG.SETTINGS.HEADER'| translate}}
  </span>
</h1>
<md-dialog-content>
  <md-card>
    <div class="dialogCardHeader">
      {{'DIALOG.SETTINGS.APPLICATION_SETTINGS.HEADER'| translate}}
    </div>
    <div class="flex-container"
         fxLayout="column"
         fxLayoutAlign="space-between stretch"
         fxLayoutWrap="nowrap">
      <div class="flex-item flex-container"
           fxLayout="row"
           fxLayoutAlign="space-between stretch"
           fxLayoutWrap="nowrap">
        <div class="flex-item">
          {{'DIALOG.SETTINGS.APPLICATION_SETTINGS.NIGHT_THEME'| translate}}
        </div>
        <md-slide-toggle
          cdk-focus-region-start
          class="flex-item"
          (change)="onThemeChange()"
          [(ngModel)]="nightTheme">
        </md-slide-toggle>
      </div>
      <div class="flex-item flex-container"
           fxLayout="row"
           fxLayoutAlign="space-between stretch"
           fxLayoutWrap="nowrap">
        <div class="flex-item">
          {{'DIALOG.SETTINGS.APPLICATION_SETTINGS.SI_METRICS'| translate}}
        </div>
        <md-slide-toggle
          class="flex-item"
          (change)="onMetricsChange()"
          [(ngModel)]="siMetrics">
        </md-slide-toggle>
      </div>
    </div>
  </md-card>

  <md-card>
    <div class="dialogCardHeader">
      {{'DIALOG.SETTINGS.REFERENCE_SETTINGS.HEADER'| translate}}
    </div>
    <gurpsy-books-configuration
      (changeBooksConfiguration)="onChangeBooksConfiguration()">
    </gurpsy-books-configuration>
  </md-card>

</md-dialog-content>

<md-dialog-actions align="end">
  <button md-raised-button color="warn" (click)="onDeleteSettings()">
    {{'DIALOG.SETTINGS.DELETE'| translate}}
  </button>
  <button md-button color="primary" md-dialog-close>
    {{'DIALOG.CLOSE'| translate}}
  </button>
</md-dialog-actions>
