<h1 md-dialog-title>
  {{'DIALOG.SETTINGS.HEADER'| translate}}
</h1>

<md-dialog-content>
  <div class="flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <div class="flex-item">
      <md-slide-toggle
        cdk-focus-region-start
        (change)="onThemeChange()"
        [(ngModel)]="nightTheme">
        {{'DIALOG.SETTINGS.NIGHT_THEME'| translate}}
      </md-slide-toggle>
      <br>
      <md-slide-toggle
        (change)="onMetricsChange()"
        [(ngModel)]="siMetrics">
        {{'DIALOG.SETTINGS.SI_METRICS'| translate}}
      </md-slide-toggle>
    </div>
    <div class="flex-item">
      <button md-mini-fab color="warn" (click)="onDeleteSettings()">
        <md-icon>delete</md-icon>
      </button>
    </div>
  </div>

</md-dialog-content>

<md-dialog-actions align="end">

  <button md-button color="primary" md-dialog-close>
    {{'DIALOG.CLOSE'| translate}}
  </button>
</md-dialog-actions>
