<h1 matDialogTitle>
  {{'DIALOG.SETTINGS.HEADER'| translate}}
</h1>

<mat-dialog-content>
  <div class="flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <div class="flex-item">
      <mat-slide-toggle
        (change)="onThemeChange()"
        [(ngModel)]="nightTheme">
        {{'DIALOG.SETTINGS.NIGHT_THEME'| translate}}
      </mat-slide-toggle>
    </div>
    <div class="flex-item">
      <button mat-mini-fab color="warn" (click)="onDeleteSettings()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button color="primary" matDialogClose>
    {{'DIALOG.CLOSE'| translate}}
  </button>
</mat-dialog-actions>
