@import '~@angular/material/theming';

@mixin gurpsy-about-dialog-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $foregroundMap: map-get($theme, foreground);

  .gurpsy-face svg {
    color: mat-color($primary);
  }

  .title,.about {
    color: mat-color($foregroundMap, text);
  }

  .version {
    color: mat-color($accent);
  }
}
