<div class="header flex-container"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap">
  <div class="flex-item">
    <img class="gurpsy-face" src="assets/images/gurpsy-face.png">
  </div>
  <div class="flex-item">
    <div class="title"> {{'APPLICATION'| translate}}</div>
    <div class="version"> {{'VERSION'| translate}}</div>
  </div>
</div>

<md-dialog-content>
  <div class="about">
    {{'DIALOG.ABOUT.ABOUT'| translate}}
  </div>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button md-dialog-close> {{'DIALOG.CLOSE'| translate}}</button>
</md-dialog-actions>
