@import "../../../../gurpsy-material-theme";

.gurpsy-face {
  height: 120px;
}

.about {
  font-size: small;
}

.header {
  margin-bottom: 20px;

  .title {
    font-size: larger;
    font-weight: bold;
  }

  .version {
    font-size: smaller;
  }
}



