<div class="sheetComponent points">
  <div class="sheetComponentHeader gurpsyThemeHeader">
    <span *ngIf="sheet.points.total">{{sheet.points.total + ' '}}</span>{{ 'SHEET.POINTS.POINTS' | translate }}
  </div>
  <div class="sheetComponentBody">
    <table>
      <tr>
        <td>{{ 'SHEET.POINTS.RACE' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.ATTRIBUTES' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.ADVANTAGES' | translate }}</td>
        <td>{{sheet.points.advantages}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.DISADVANTAGES' | translate }}</td>
        <td>{{sheet.points.disadvantages}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.QUIRKS' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.SKILLS' | translate }}</td>
        <td>{{sheet.points.skills}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.SPELLS' | translate }}</td>
        <td>{{sheet.points.spells}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.POINTS.UNSPENT' | translate }}</td>
        <td>{{sheet.points.unspent}}</td>
      </tr>
    </table>
  </div>
</div>
