<div class="sheetComponent">
  <div class="sheetComponentHeader">
    {{ 'SHEET.FATIGUE-HIT.FATIGUE-HIT' | translate }}
  </div>
  <div class="sheetComponentBody">
    <table>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.CURRENT_FP' | translate }}</td>
        <td>{{sheet.secondaryCharacteristics.fatiguePoints}}</td>
      </tr>
      <tr class="last">
        <td>{{ 'SHEET.FATIGUE-HIT.BASIC_FP' | translate }}</td>
        <td>{{sheet.secondaryCharacteristics.fatiguePoints}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.TIRED' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.COLLAPSE' | translate }}</td>
        <td>0</td>
      </tr>
      <tr class="last">
        <td>{{ 'SHEET.FATIGUE-HIT.UNCONSCIOUS' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.CURRENT_HP' | translate }}</td>
        <td>{{sheet.secondaryCharacteristics.hitPoints}}</td>
      </tr>
      <tr class="last">
        <td>{{ 'SHEET.FATIGUE-HIT.BASIC_HP' | translate }}</td>
        <td>{{sheet.secondaryCharacteristics.hitPoints}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.REELING' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.COLLAPSE' | translate }}</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.CHECK' | translate }}#1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.CHECK' | translate }}#2</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.CHECK' | translate }}#3</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.CHECK' | translate }}#4</td>
        <td>0</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.FATIGUE-HIT.DEAD' | translate }}</td>
        <td>0</td>
      </tr>
    </table>
  </div>
</div>
