<div class="sheetComponent"
     [ngClass]="{'editable': editMode}">
  <div class="sheetComponentHeader">
    {{ 'SHEET.PLAYER_INFORMATION.PLAYER_INFORMATION' | translate }}
  </div>
  <div class="sheetComponentBody" (click)="onRequestUpdate()">
    <table>
      <tr>
        <td>{{ 'SHEET.PLAYER_INFORMATION.PLAYER' | translate }}</td>
        <td>{{model.metaData.playerInformation.player}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.PLAYER_INFORMATION.CAMPAIGN' | translate }}</td>
        <td>{{model.metaData.playerInformation.campaign}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.PLAYER_INFORMATION.CREATED_ON' | translate }}</td>
        <td>{{model.metaData.playerInformation.createdOn}}</td>
      </tr>
    </table>
  </div>
</div>
