<div class="sheetComponent"
     [ngClass]="{'editable': editMode}">
  <div class="sheetComponentHeader">
    {{ 'SHEET.PLAYER_INFORMATION.PLAYER_INFORMATION' | translate }}
  </div>
  <div class="sheetComponentBody" (click)="onRequestUpdate()">
    <table>
      <tr>
        <td>{{ 'SHEET.PLAYER_INFORMATION.PLAYER' | translate }}</td>
        <td class="player">{{sheet.metaData.playerInformation.player}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.PLAYER_INFORMATION.CAMPAIGN' | translate }}</td>
        <td class="campaign">{{sheet.metaData.playerInformation.campaign}}</td>
      </tr>
      <tr
        md-tooltip="{{ 'SHEET.PLAYER_INFORMATION.CREATED_ON' | translate }}: {{sheet.metaData.playerInformation.createdOn | date}}">
        <td>{{ 'SHEET.PLAYER_INFORMATION.LAST_MODIFIED' | translate }}</td>
        <td class="lastModified">{{sheet.metaData.playerInformation.lastModified | date}}
        </td>
      </tr>
    </table>
  </div>
</div>
