.gurpsy-face {
  height: 120px;

  mat-icon {
    width: 120px;
    height: 120px;

    svg {
      width: 120px;
      height: 120px;
    }
  }
}

.about {
  font-size: small;
}

.header {
  margin-bottom: 20px;

  .title {
    font-size: larger;
    font-weight: bold;
  }

  .version {
    font-size: smaller;
  }

  .delete {
    text-align: end;
    height: 100%;
  }
}



