<mat-dialog-content *ngIf="template"
                   class="identityUpdater flex-container"
                   fxLayout="column">
  <mat-form-field class="flex-item">
    <input matInput placeholder="{{'SHEET.IDENTITY.NAME'| translate}}" [(ngModel)]="template.name" required>
    <mat-error>{{'MESSAGE.ERROR.REQUIRED_NAME'| translate}}</mat-error>
  </mat-form-field>
  <mat-form-field class="flex-item">
    <input matInput placeholder="{{'SHEET.IDENTITY.TITLE'| translate}}" [(ngModel)]="template.title">
  </mat-form-field>
  <mat-form-field class="flex-item">
    <input matInput placeholder="{{'SHEET.IDENTITY.RELIGION'| translate}}" [(ngModel)]="template.religion">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions *ngIf="template" align="end">
  <button mat-button color="primary" [disabled]="!template.name || template.name.trim() === ''" (click)="onOk()">
    {{'DIALOG.OK'| translate}}
  </button>
  <button mat-button matDialogClose> {{'DIALOG.CANCEL'| translate}}</button>
</mat-dialog-actions>
