<mat-dialog-content>
  <div class="flex-container"
       fxLayout="row"
       fxLayoutAlign="start stretch">
    <mat-form-field
      class="flex-item"
      fxFlex="100%"
      (click)="fileInput.selectFile()">
      <input matInput
             tabindex="-1"
             readonly
             [(ngModel)]="selectedFileName"
             placeholder="{{'DIALOG.OPEN_SHEET.SELECT_FROM_FILE'| translate}}">
    </mat-form-field>
    <gurpsy-file-input #fileInput
                       class="flex-item"
                       (onFileSelect)="onFileSelect($event)"
                       [accept]="'application/json'">
    </gurpsy-file-input>
  </div>

  <div *ngIf="selectedSheet"
       class="flex-container flex-item"
       fxLayout="column"
       fxLayoutAlign="start stretch"
       [ngClass]="{'warning': state==stateEnum.WARNING, 'info': state==stateEnum.INFO}">
    <gurpsy-select-sheet-button
      class="flex-item"
      [template]="selectedSheet"
      [disabled]="true">
    </gurpsy-select-sheet-button>
    <div class="messageWrapper flex-container flex-item">
      <div *ngIf="state ==stateEnum.WARNING"
           class="flex-item flex-container"
           fxLayout="row"
           fxLayoutGap="8px"
           fxLayoutAlign="start stretch">
        <mat-icon class="flex-item" color="warn">error</mat-icon>
        <span class="message flex-item">{{'DIALOG.OPEN_SHEET.ALREADY_LOADED_NEWER_VERSION'| translate}}</span>
      </div>
      <div *ngIf="state ==stateEnum.INFO"
           class="flex-item flex-container"
           fxLayout="row"
           fxLayoutGap="8px"
           fxLayoutAlign="start stretch">
        <mat-icon class="flex-item"
                 color="accent">
          info
        </mat-icon>
        <span class="message flex-item">{{'DIALOG.OPEN_SHEET.ALREADY_LOADED_OLDER_VERSION'| translate}}</span>
      </div>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="!showOk" (click)="onOk()"> {{'DIALOG.OK'| translate}}</button>
  <button mat-button matDialogClose> {{'DIALOG.CANCEL'| translate}}</button>
</mat-dialog-actions>
