<div class="selectSheet">

  <md-card>
    <button md-button
            (click)="onCreateTemplate()">
      <div class="flex-container"
           fxLayout="row">
        <div class="flex-item icon"
             fxFlexAlign="center">
          <md-icon>portrait</md-icon>
        </div>
        <div class="flex-item"
             fxFlexAlign="center"
             fxFlex="100%">
          {{ 'SELECT_SHEET.CREATE_NEW' | translate }}
        </div>
      </div>
    </button>
  </md-card>

  <md-card>
    <button md-button
            (click)="onLoadTemplateFromFile()">
      <div class="flex-container"
           fxLayout="row">
        <div class="flex-item icon"
             fxFlexAlign="center">
          <md-icon>account_box</md-icon>
        </div>
        <div class="flex-item"
             fxFlexAlign="center"
             fxFlex="100%">
          {{ 'SELECT_SHEET.LOAD_FROM_FILE' | translate }}
        </div>
      </div>
    </button>
  </md-card>

  <md-card *ngIf="templates.length > 0">
    <gurpsy-select-sheet-button
      *ngFor="let template of templates"
      [template]="template"
      (click)="onTemplateSelected(template)">
    </gurpsy-select-sheet-button>
  </md-card>
</div>
