@import '~@angular/material/theming';

@mixin gurpsy-settings-dialog-theme($theme) {
  $warn: map-get($theme, warn);
  $primary: map-get($theme, primary);

  .settingsCardHeader {
    color: mat-color($primary);
  }

  .settingsCardHeader.warning {
    color: mat-color($warn);
  }
}
