<h1 md-dialog-title
    class="header flex-container"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutWrap="nowrap">
  <md-icon
    class="flex-item">
    settings
  </md-icon>
  <span class="flex-item"
        fxFlex="100%">
    {{'DIALOG.SETTINGS.HEADER'| translate}}
  </span>
</h1>
<md-dialog-content>
  <md-card>
    <div class="dialogCardHeader">
      {{'DIALOG.SETTINGS.APPLICATION_SETTINGS'| translate}}
    </div>
    <div class="flex-container"
         fxLayout="column"
         fxLayoutAlign="space-between stretch"
         fxLayoutWrap="nowrap">
      <md-input-container class="flex-item">
        <input mdInput placeholder="{{'DIALOG.SETTINGS.SERVER_URL'| translate}}" [(ngModel)]="serverUrl"
               (change)="onServerUrlChange(serverUrl)">
      </md-input-container>
      <md-checkbox
        cdk-focus-start
        class="flex-item"
        (change)="onThemeChange()"
        [(ngModel)]="nightTheme">
        {{'DIALOG.SETTINGS.NIGHT_THEME'| translate}}
      </md-checkbox>
    </div>
  </md-card>

  <md-card>
    <div class="dialogCardHeader">
      {{'DIALOG.SETTINGS.LIBRARY_SETTINGS.HEADER'| translate}}
    </div>
    <div class="settingsCardBody">
      {{'DIALOG.SETTINGS.LIBRARY_SETTINGS.BODY'| translate}}
    </div>
    <gurpsy-books-configuration
      (changeBooksConfiguration)="onChangeBooksConfiguration()">
    </gurpsy-books-configuration>
  </md-card>

  <md-card>
    <div class="dialogCardHeader warning">
      {{'DIALOG.SETTINGS.CLEANUP'| translate}}
    </div>
    <md-checkbox [(ngModel)]="clearSettings">
      {{'DIALOG.SETTINGS.DELETE_SETTINGS'| translate}}
    </md-checkbox>

    <div *ngIf="storedSheets.length > 0" class="sheets">
      {{'DIALOG.SETTINGS.SHEETS' | translate}}
      <md-checkbox *ngFor="let sheet of storedSheets;" (change)="onSheetSelected(sheet, $event)">
        <span class="sheetName">{{sheet.metaData.identity.name}}</span>
        <span class="sheetPoints"> ({{sheet.points.total}} {{'SHEET.POINTS.POINTS'| translate}})</span>
      </md-checkbox>
    </div>
    <div class="deleteSettings">
      <button md-raised-button color="warn" (click)="onDeleteSettings()">
        {{'DIALOG.SETTINGS.DELETE'| translate}}
      </button>
    </div>
  </md-card>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button color="primary" md-dialog-close> {{'DIALOG.CLOSE'| translate}}</button>
</md-dialog-actions>
