md-dialog-content {

  md-card {
    .settingsCardBody {
      font-size: smaller;
    }

    .deleteSettings {
      width: 100%;
      text-align: right;
      margin-top: 8px;
    }

  }
  .sheets {
    margin-top: 16px;

    md-checkbox {
      display: block;
    }

    .sheetPoints {
      font-size: small;
      color: grey;
    }
  }
}




