<h1 md-dialog-title>
  <md-icon>settings</md-icon>
  <span> {{'DIALOG.SETTINGS.HEADER'| translate}} </span></h1>
<md-dialog-content>
  <md-card>
    <div class="settingsCardHeader">
      {{'DIALOG.SETTINGS.APPLICATION_SETTINGS'| translate}}
    </div>
    <md-input-container>
      <input mdInput placeholder="{{'DIALOG.SETTINGS.SERVER_URL'| translate}}" [(ngModel)]="serverUrl"
             (change)="onServerUrlChange(serverUrl)">
    </md-input-container>
  </md-card>

  <md-card>
    <div class="settingsCardHeader">
      {{'DIALOG.SETTINGS.LIBRARY_SETTINGS.HEADER'| translate}}
    </div>
    <div class="settingsCardBody">
      {{'DIALOG.SETTINGS.LIBRARY_SETTINGS.BODY'| translate}}
    </div>
    <gurpsy-references-configuration></gurpsy-references-configuration>
  </md-card>

  <md-card>
    <div class="settingsCardHeader">
      {{'DIALOG.SETTINGS.CLEANUP'| translate}}
    </div>
    <md-checkbox [(ngModel)]="clearSettings">
      {{'DIALOG.SETTINGS.DELETE_SETTINGS'| translate}}
    </md-checkbox>

    <div *ngIf="storedSheets.length > 0" class="sheets">
      {{'DIALOG.SETTINGS.SHEETS' | translate}}
      <md-checkbox *ngFor="let sheet of storedSheets;" (change)="onSheetSelected(sheet, $event)">
        <span class="sheetName">{{sheet.metaData.identity.name}}</span>
        <span class="sheetPoints"> ({{sheet.points.total}} {{'SHEET.POINTS.POINTS'| translate}})</span>
      </md-checkbox>
    </div>

    <button md-button color="warning" (click)="onDeleteSettings()">
      {{'DIALOG.SETTINGS.DELETE'| translate}}
    </button>
  </md-card>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button color="primary"> {{'DIALOG.OK'| translate}}</button>
  <button md-button md-dialog-close> {{'DIALOG.CANCEL'| translate}}</button>
</md-dialog-actions>
