//@import "../../../../gurpsy-material-theme";
//@import '~@angular/material/theming';

md-dialog-content {
  md-card:not(:first-child) {
    margin-top: 12px;
  }
  md-card {
    .settingsCardHeader {
      font-size: small;
      color: green;
      margin-bottom: 8px;
      text-align: right;
    }

    .settingsCardBody {
      font-size: smaller;
    }

    .deleteSettings {
      width: 100%;
      text-align: right;
      margin-top: 8px;
    }

  }
  .sheets {
    margin-top: 16px;

    md-checkbox {
      display: block;
    }

    .sheetPoints {
      font-size: small;
      color: grey;
    }
  }
}




