@import "../../../../gurpsy-material-theme";

md-dialog-content {
  md-card:not(:first-child) {
    margin-top: 12px;
  }
  md-card {
    .settingsCardHeader {
      font-size: small;
      color: mat-color($primary);
      margin-bottom: 8px;
      text-align: right;
    }

    .settingsCardBody {
      font-size: smaller;
    }

  }
  .sheets {
    margin-top: 16px;

    md-checkbox {
      display: block;
    }

    .sheetPoints {
      font-size: small;
      color: grey;
    }
  }
}




