.sheet {
  font-family: 'Abel', sans-serif !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  background: var(--sheet-background-color);
}

.sheet {
  max-width: var(--max-width-sheet-large);
}

.sheetComponent {
  border: black solid 1px;
  border-radius: 2px;
  margin: 3px 3px 3px 3px;
}

.sheetComponentHeader {
  text-align: center;
  font-size: small;
  background: var(--sheet-component-header-background-color);
  color: var(--sheet-component-header-font-color);
}

.sheetComponentBody {
  margin-bottom: 2px;
  padding: 0px 4px 0px 4px;
  background: var(--sheet-component-body-background-color);
}

.sheetComponentBody label {
  color: var(--sheet-label-font-color);
}

.sheetComponentBody span {
  color: var(--sheet-data-font-color);
}
