<div class="sheetComponent">
  <div class="sheetComponentBody headerLess">
    <table class="headerRowTable">
      <tr class="headerRow">
        <td>{{ 'SHEET.MAGIC.SPELLS' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.POINTS' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.LEVEL' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.DIFFICULTY_LEVEL' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.CASTING_TIME' | translate }}</td>
        <td fxHide="false"
            fxHide.xs>{{ 'SHEET.MAGIC.COLLEGES' | translate }}
        </td>
        <td fxHide="false"
            fxHide.xs>{{ 'SHEET.MAGIC.POWER_SOURCE' | translate }}
        </td>
        <td>{{ 'SHEET.MAGIC.DURATION' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.MAINTENANCE_COST' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.SPELL_CLASSES' | translate }}</td>
        <td>{{ 'SHEET.MAGIC.PAGE_REFERENCE' | translate }}</td>
      </tr>
      <tr *ngFor="let spell of model.spells;">
        <td>{{spell.name}}</td>
        <td>{{spell.points}}</td>
        <td>{{spell.level}}</td>
        <td>{{spell.difficultyLevel}}</td>
        <td>{{spell.castingTime}}</td>
        <td fxHide="false"
            fxHide.xs> {{spell.colleges}}
        </td>
        <td fxHide="false"
            fxHide.xs>{{spell.powerSource}}
        </td>
        <td>{{spell.duration}}</td>
        <td>{{spell.maintenanceCost}}</td>
        <td>{{spell.spellClasses}}</td>
        <td>
          <gurpsy-page-reference [pageReference]="spell.pageReference"></gurpsy-page-reference>
        </td>
      </tr>
    </table>
  </div>
</div>
