<div class="sheetComponent">
  <div class="sheetComponentBody">
    <table class="headerRowTable">
      <tr class="headerRow">
        <td>{{ 'SHEET.ADVANTAGES.ADVANTAGES' | translate }}</td>
        <td>{{ 'SHEET.ADVANTAGES.LEVEL' | translate }}</td>
        <td>{{ 'SHEET.ADVANTAGES.PTS' | translate }}</td>
        <td>{{ 'SHEET.ADVANTAGES.REF' | translate }}</td>
      </tr>
      <tr *ngFor="let advantage of readSheet.advantages;">
        <td>{{advantage.name}}</td>
        <td>{{advantage.level}}</td>
        <td>{{advantage.points}}</td>
        <td>
          <gurpsy-page-reference [pageReference]="advantage.pageReference"></gurpsy-page-reference>
        </td>
      </tr>
    </table>
  </div>
</div>
