<div class="sheetComponent">
    <div class="sheetComponentHeader">
        Identity
    </div>
    <div class="sheetComponentBody">
        <div class="sheetComponentBodyLine">
            <label>Name</label>
            <input type="text" placeholder="Dai Blackthorn">
        </div>
        <div class="sheetComponentBodyLine">
            <label>Title</label>
            <input type="text" placeholder="Captain">
        </div>
        <div class="sheetComponentBodyLine">
            <label>Religion</label>
            <input type="text" placeholder="Atheist">
        </div>
    </div>
</div>