<div fxHide
     fxHide.xs="false">
  <div class="flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <gurpsy-portrait-component class="flex-item"></gurpsy-portrait-component>
    <gurpsy-points-component class="flex-item"></gurpsy-points-component>
  </div>
  <gurpsy-description-component></gurpsy-description-component>
</div>

<div class="flex-container"
     fxLayout="row"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap">
  <gurpsy-attributes-component></gurpsy-attributes-component>
  <gurpsy-hit-location-component></gurpsy-hit-location-component>
  <gurpsy-fatigue-hit-component></gurpsy-fatigue-hit-component>
</div>
