<div fxHide
     fxHide.xs="false">
  <div class="flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <gurpsy-portrait class="flex-item"></gurpsy-portrait>
    <gurpsy-points class="flex-item"></gurpsy-points>
  </div>
  <gurpsy-description></gurpsy-description>
</div>

<div class="flex-container"
     fxLayout="row"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap">
  <gurpsy-attributes></gurpsy-attributes>
  <gurpsy-hit-location></gurpsy-hit-location>
  <gurpsy-fatigue-hit></gurpsy-fatigue-hit>
</div>
