<gurpsy-book-configuration
  *ngFor="let book of bookConfigurations"
  [configuration]="book"
  [availableBooks]="availableBooks"
  (changeBookConfiguration)="onChangeBookConfiguration()"
  (deleteBookConfiguration)="onDeleteBookConfiguration(book)">
</gurpsy-book-configuration>
<div class="addBookConfiguration">
  <button
    md-raised-button
    color="primary"
    [disabled]="availableBooks.length == 0"
    (click)="onNewBookConfiguration()">
    {{'BOOKS_CONFIGURATION.ADD_BOOK'| translate}}
  </button>
</div>
