@import '~@angular/material/theming';

@mixin gurpsy-component-theme($theme) {
  $accent: map-get($theme, accent);
  $backgroundMap: map-get($theme, background);
  $background: map-get($backgroundMap, background);

  .editable mat-icon{
    color: mat-color($accent);
  }

  .mat-drawer-content {
    background-color: $background;
  }
}
