mat-toolbar {
  margin-bottom: 12px;
  flex: none;

  gurpsy-avatar {
    margin-top: 12px;
  }
}

.mat-drawer {
  width: 440px;
  overflow: hidden;
}

.gurpsyBody {
  height: 100%;
  text-align: center;
  text-align: -webkit-center;
}

.closeBookViewerButton {
  position: fixed;
  z-index: 100;
  right: 5%;
  top: 72px;
}

.openBookViewerButton {
  position: fixed;
  z-index: 100;
  right: 5%;
  bottom: 6%;
}
