<md-sidenav-container class="{{theme}}">
  <md-sidenav #sidenav>
    <gurpsy-side-navigation (onCloseSideNavigation)="sidenav.close()"></gurpsy-side-navigation>
  </md-sidenav>

  <md-toolbar class="flex-container">
    <button class="flex-item" md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <span class="flex-item" fxFlex>
      {{'APPLICATION'| translate}}
    </span>

    <div fxShow="false" fxShow.xs class="avatar flex-item">
      <img src="assets/images/empty-portrait.png">
    </div>

    <div class="headerSettings flex-container flex-item">
      <button md-icon-button [md-menu-trigger-for]="settings">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu x-position="before" y-position="below" #settings="mdMenu">
        <button md-menu-item (click)="onOpenSheetDialog()">
          <md-icon>account_box</md-icon>
          <span>{{ 'MENU.OPEN' | translate }}</span>
        </button>
        <button md-menu-item (click)="onOpenDeleteSettingsDialog()">
          <md-icon>settings</md-icon>
          <span>{{ 'MENU.SETTINGS' | translate }}</span>
        </button>
        <button md-menu-item (click)="onOpenThrowDiceDialog()">
          <md-icon svgIcon="d6"></md-icon>
          <span>{{ 'MENU.THROW_DICE' | translate }}</span>
        </button>
        <button md-menu-item
                (click)="onThemeChange()">
          <md-icon [class.selected]="theme == night">
            insert_photo
          </md-icon>
          <span>   {{ 'MENU.DARK_THEME' | translate }}</span>
        </button>
        <button md-menu-item (click)="onOpenAboutDialog()">
          <md-icon>pan_tool</md-icon>
          <span>{{ 'MENU.ABOUT' | translate }}</span>
        </button>
      </md-menu>
    </div>
  </md-toolbar>

  <md-card>
    <gurpsy-sheet></gurpsy-sheet>
  </md-card>

</md-sidenav-container>



