mat-toolbar {
  margin-bottom: 12px;
  flex: none;
}

mat-toolbar {
  gurpsy-avatar {
    margin-top: 12px;
  }
}

mat-sidenav {
  width: 240px;
}

.gurpsyBody {
  flex: 1 1 auto;
}

.openBookViewerButton {
  position: fixed;
  z-index: 100;
  right: 8px;
  bottom: 8px;
}
