<md-sidenav-layout [class.gurpsy-dark]="isDarkTheme">
  <md-sidenav #sidenav>
    <gurpsy-side-navigation (onCloseSideNavigation)="sidenav.close()"></gurpsy-side-navigation>
  </md-sidenav>

  <md-toolbar class="flex-container" color="primary">
    <button class="flex-item" md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <span class="flex-item" fxFlex>{{'APPLICATION'| translate}}
    </span>

    <img class="flex-item" fxShow="false" fxShow.xs md-card-avatar src="assets/images/empty-portrait.png">

    <div class="headerSettings flex-item">
      <button md-icon-button [md-menu-trigger-for]="settings">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu x-position="before" y-position="below" #settings="mdMenu">
        <button md-menu-item (click)="onOpenSheetDialog()" class="flex-container">
          <md-icon class="flex-item">account_box</md-icon>
          <span class="flex-item" fxFlex="100%">{{ 'MENU.OPEN' | translate }}</span>
        </button>
        <button md-menu-item (click)="onThemeChange()" class="flex-container">
          <md-icon class="flex-item">
            insert_photo
          </md-icon>
          <span class="flex-item" fxFlex="100%">
            {{ 'MENU.DARK_THEME' | translate }}
          </span>
          <md-slide-toggle [(ngModel)]="isDarkTheme" class="flex-item">
          </md-slide-toggle>
        </button>
        <button md-menu-item (click)="onDutchChange()" class="flex-container">
          <md-icon class="flex-item">g_translate</md-icon>
          <span class="flex-item" fxFlex="100%">{{ 'MENU.LANGUAGE' | translate }}</span>
          <md-slide-toggle [(ngModel)]="isDutch" class="flex-item">
          </md-slide-toggle>
        </button>
        <button md-menu-item (click)="onOpenDeleteSettingsDialog()" class="flex-container">
          <md-icon class="flex-item">delete</md-icon>
          <span class="flex-item" fxFlex="100%">{{ 'MENU.CLEAR_SETTINGS' | translate }}</span>
        </button>
      </md-menu>
    </div>
  </md-toolbar>

  <md-card>
    <gurpsy-sheet></gurpsy-sheet>
  </md-card>

</md-sidenav-layout>



