<mat-sidenav-container class="{{theme}}">
  <mat-sidenav #sidenav>
    <gurpsy-side-navigation (onCloseSideNavigation)="sidenav.close()"
                            (onShowLibrary)="onShowLibrary($event)">
    </gurpsy-side-navigation>
  </mat-sidenav>

  <mat-toolbar class="flex-container">
    <button mat-icon-button
            [disabled]="!sheet"
            class="flex-item"
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="flex-item"
          fxFlex>
      <span *ngIf="!sheet">{{'APPLICATION'| translate}}</span>
      <span *ngIf="sheet">{{sheet.metaData.identity.name}}</span>
    </span>

    <button mat-icon-button
            class="flex-item"
            [disabled]="!sheet"
            fxShow="true"
            fxShow.xs="false"
            *ngIf="sheet && !editMode"
            (click)="onEdit(true)">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button
            class="flex-item editable"
            [disabled]="!sheet"
            fxShow="true"
            fxShow.xs="false"
            *ngIf="sheet && editMode"
            (click)="onEdit(false)">
      <mat-icon>lock_open</mat-icon>
    </button>

    <gurpsy-avatar fxShow="false" fxShow.xs class="flex-item"></gurpsy-avatar>

    <div class="headerSettings flex-container flex-item">
      <button mat-icon-button [mat-menu-trigger-for]="rootMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu x-position="before" y-position="below" #rootMenu="matMenu">
        <button mat-menu-item
                [matMenuTriggerFor]="sheetMenu">
          <mat-icon>portrait</mat-icon>
          <span>{{ 'MENU.SHEET.SHEET' | translate }}</span>
        </button>
        <button
          mat-menu-item
          fxShow="false"
          fxShow.xs
          *ngIf="sheet && !editMode"
          (click)="onEdit(true)">
          <mat-icon>lock</mat-icon>
          <span>{{ 'MENU.EDIT' | translate }}</span>
        </button>
        <button
          mat-menu-item
          fxShow="false"
          fxShow.xs
          *ngIf="sheet && editMode"
          (click)="onEdit(false)">
          <mat-icon>lock_open</mat-icon>
          <span>{{ 'MENU.LOCK' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onOpenThrowDiceDialog()">
          <mat-icon svgIcon="d6"></mat-icon>
          <span>{{ 'MENU.THROW_DICE' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onOpenSettingsDialog()">
          <mat-icon>settings</mat-icon>
          <span>{{ 'MENU.SETTINGS' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onOpenAboutDialog()">
          <mat-icon svgIcon="gurpsy-face"></mat-icon>
          <span>{{ 'MENU.ABOUT' | translate }}</span>
        </button>
      </mat-menu>

      <mat-menu #sheetMenu="matMenu">
        <button mat-menu-item
                (click)="onNewSheet()">
          <mat-icon>portrait</mat-icon>
          <span>{{ 'MENU.SHEET.NEW' | translate }}</span>
        </button>
        <button mat-menu-item
                (click)="onOpenSheetDialog()">
          <mat-icon>account_box</mat-icon>
          <span>{{ 'MENU.SHEET.OPEN' | translate }}</span>
        </button>
        <a mat-menu-item
           *ngIf="sheet"
           [href]="templateJsonHref"
           [download]="templateDownloadName">
          <mat-icon>save</mat-icon>
          <span>{{ 'MENU.SHEET.DOWNLOAD' | translate }}</span>
        </a>
        <button *ngIf="sheet"
                mat-menu-item
                (click)="onCloseSheet()">
          <mat-icon>highlight_off</mat-icon>
          <span>{{ 'MENU.SHEET.CLOSE' | translate }}</span>
        </button>
        <button *ngIf="sheet"
                mat-menu-item
                (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          <span>{{ 'MENU.SHEET.DELETE' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <div class="gurpsyBody flex-container"
       fxLayout="row"
       fxLayoutAlign="center">
    <gurpsy-book-viewer
      class="flex-item"
      fxFlexAlign="start"
      *ngIf="showLibrary">
    </gurpsy-book-viewer>
    <gurpsy-sheet
      class="flex-item"
      fxFlexAlign="start"
      *ngIf="sheet && !showLibrary">
    </gurpsy-sheet>
    <gurpsy-select-sheet *ngIf="!sheet"
                         class="flex-item"
                         fxFlexAlign="center"
                         (loadTemplateFromFile)="onOpenSheetDialog()"
                         (createTemplate)=onNewSheet()>
    </gurpsy-select-sheet>
  </div>
</mat-sidenav-container>







