<div class="sheetComponent points">
  <div class="sheetComponentHeader">
    Points
  </div>
  <div class="sheetComponentBody">
    <div class="sheetComponentBodyLine">
      <label>Race</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>Attributes</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>Advantages</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>Disadvantages</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>Quirks</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>Skills</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine">
      <label>Spells</label>
      <label>0</label>
    </div>
    <div class="sheetComponentBodyLine earned">
      <label>Earned</label>
      <input type="text" placeholder="37">
    </div>
  </div>
</div>
