.header{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .headerMenuButton{
    flex:none;
}

.header .headerApplicationName{
    flex:auto;
    padding-top: 11px;
    padding-left: 8px;
    font-family: 'Abel', sans-serif !important;
}

.header .headerSettings{
    flex:none;
}