<div class="header">
    <div class="headerMenuButton">
        <button md-icon-button (click)="onOpenSideNav()">
            <md-icon>menu</md-icon>
        </button>
    </div>
    <div class="headerApplicationName">
        {{'APPLICATION'| translate}}
    </div>
    <div class="headerSettings">
        <button md-icon-button [md-menu-trigger-for]="settings">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu x-position="before" y-position="below" #settings="mdMenu">
            <button md-menu-item> {{ 'MENU.OPEN' | translate }} </button>
        </md-menu>
    </div>
</div>
