@mixin gurpsy-side-navigation-theme($theme) {
  $backgroundMap: map-get($theme, background);
  $foregroundMap: map-get($theme, foreground);
  $background: map-get($backgroundMap, background);
  $statusBar: map-get($backgroundMap, status-bar);
  $hintText: map_get($foregroundMap, hint-text);
  $secondaryText: map_get($foregroundMap, secondary-text);

  .mat-sidenav-content {
    background: $background;
  }

  .sideNavigation {
    .sideNavigationHeader {
      .player {
        color: $hintText;
      }
    }

    .sideNavigationContent {
      .header {
        span {
          color: $hintText;
        }
      }

      button {
        md-icon {
          color: $hintText;
        }
      }
      button.selected mat-icon {
        color: $secondaryText;
      }
      .separator {
        border-top: solid $statusBar 1px;
      }
    }
  }
}




