.sideNavigation {
  .sideNavigationHeader {
    width: 100%;
    .close {
      text-align: end;
    }
    .avatar-item {
      padding-left: 8px;
    }
    .player {
      font-size: x-small;
      font-weight: 100;
      padding: 10px 0px 0px 8px;
    }
    .name {
      font-size: small;
      color: white;
      padding: 2px 0px 0px 8px;
    }
  }

  .sideNavigationContent {
    width: 100%;
    margin: 0px 0px 4px 0px;

    .settings {
      .content {
        padding: 0px 10px 0px 10px;

      }
    }

    .library {
      .content {
        button {
          padding: 2px 14px 2px 14px;
        }
      }
    }
    .header {
      text-align: end;
      font-size: x-small;
      cursor: pointer;
    }

    .sideNavigationButton {
      padding: 2px 8px 2px 8px;
      width: 100%;
      font-weight: inherit;

      span {
        text-align: left;
      }

      mat-icon {
        padding: 6px 0px 6px 6px;
        margin-right: 24px;
      }
    }
  }
}



