<div class="sideNavigation flex-container"
     fxLayout="column"
     fxLayoutAlign="start stretch">
  <div class="sideNavigationHeader flex-item flex-container"
       fxLayout="column"
       fxLayoutAlign="start stretch">
    <div class="close flex-item">
      <button mat-icon-button (click)="onCloseSideNav()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="flex-item avatar-item">
      <gurpsy-avatar [width]="'48px'" [height]="'48px'"></gurpsy-avatar>
    </div>
    <div *ngIf="sheet" class="flex-item player">
      {{sheet.metaData.playerInformation.player}}
    </div>
    <div *ngIf="sheet" class="flex-item name">
      {{sheet.metaData.identity.name}}
    </div>
  </div>
  <div class="sideNavigationContent flex-item"
       fxFlex="100%">
    <div class="sheet">
      <button mat-button
              (click)="onSheetBodyClick(sheetBodyComponents.GENERAL)"
              [class.selected]="sheetBodyContent === sheetBodyComponents.GENERAL"
              class="sideNavigationButton">
        <mat-icon>accessibility</mat-icon>
        <span fxFlex="100%">{{'SIDE_NAVIGATION.GENERAL'| translate}}</span>
      </button>
      <button mat-button
              (click)="onSheetBodyClick(sheetBodyComponents.ADVANTAGES)"
              [class.selected]="sheetBodyContent == sheetBodyComponents.ADVANTAGES"
              class="sideNavigationButton">
        <mat-icon>hearing</mat-icon>
        <span fxFlex="100%">{{'SIDE_NAVIGATION.DIS_ADVANTAGES'| translate}}</span>
      </button>
      <button mat-button
              (click)="onSheetBodyClick(sheetBodyComponents.SKILLS)"
              [class.selected]="sheetBodyContent == sheetBodyComponents.SKILLS"
              class="sideNavigationButton">
        <mat-icon>school</mat-icon>
        <span fxFlex="100%">{{'SIDE_NAVIGATION.SKILLS'| translate}}</span>
      </button>
      <button mat-button
              (click)="onSheetBodyClick(sheetBodyComponents.MAGIC)"
              [class.selected]="sheetBodyContent == sheetBodyComponents.MAGIC"
              class="sideNavigationButton">
        <mat-icon>flash_on</mat-icon>
        <span fxFlex="100%">{{'SIDE_NAVIGATION.MAGIC'| translate}}</span>
      </button>
      <button mat-button
              (click)="onSheetBodyClick(sheetBodyComponents.EQUIPMENT)"
              [class.selected]="sheetBodyContent == sheetBodyComponents.EQUIPMENT"
              class="sideNavigationButton">
        <mat-icon>card_travel</mat-icon>
        <span fxFlex="100%">{{'SIDE_NAVIGATION.EQUIPMENT'| translate}}</span>
      </button>
      <button mat-button
              (click)="onSheetBodyClick(sheetBodyComponents.NOTES)"
              [class.selected]="sheetBodyContent == sheetBodyComponents.NOTES"
              class="sideNavigationButton">
        <mat-icon>mode_edit</mat-icon>
        <span fxFlex="100%">{{'SIDE_NAVIGATION.NOTES'| translate}}</span>
      </button>
    </div>
    <div class="library">
      <div class="header" (click)="showLibraryMenu = !showLibraryMenu">
        <span>{{'SIDE_NAVIGATION.LIBRARY.LIBRARY'| translate}}</span>
        <button mat-icon-button>
          <mat-icon *ngIf="!showLibraryMenu">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="showLibraryMenu">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div class="content" *ngIf="showLibraryMenu">
        <button mat-button
                (click)="onLibraryClick()"
                [class.selected]="showLibrary"
                class="sideNavigationButton">
          <span fxFlex="100%">{{'SIDE_NAVIGATION.LIBRARY.GURPS_LITE'| translate}}</span>
        </button>
      </div>
    </div>
    <div class="settings">
      <div class="header" (click)="showSettingsMenu = !showSettingsMenu">
        <span>{{'SIDE_NAVIGATION.SETTINGS.SETTINGS'| translate}}</span>
        <button mat-icon-button>
          <mat-icon *ngIf="!showSettingsMenu">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="showSettingsMenu">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div class="content" *ngIf="showSettingsMenu">
        <mat-slide-toggle
          (change)="onThemeChange()"
          [checked]="theme == themeEnum.NIGHT">
          {{'SIDE_NAVIGATION.SETTINGS.NIGHT_THEME'| translate}}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
