<div class="sheetComponent identity">
  <div class="sheetComponentHeader">
    {{ 'SHEET.IDENTITY.IDENTITY' | translate }}
  </div>
  <div class="sheetComponentBody">
    <table>
      <tr>
        <td>{{ 'SHEET.IDENTITY.NAME' | translate }}</td>
        <td>{{readSheet.metaData.identity.name}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.IDENTITY.TITLE' | translate }}</td>
        <td>{{readSheet.metaData.identity.title}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.IDENTITY.RELIGION' | translate }}</td>
        <td>{{readSheet.metaData.identity.religion}}</td>
      </tr>
    </table>
  </div>
</div>
