<div class="sheetComponent identity"
     [ngClass]="{'editable': editMode}">
  <div class="sheetComponentHeader">
    {{ 'SHEET.IDENTITY.IDENTITY' | translate }}
  </div>
  <div class="sheetComponentBody" (click)="onRequestUpdate()">
    <table>
      <tr>
        <td>{{ 'SHEET.IDENTITY.NAME' | translate }}</td>
        <td class="name">{{model.metaData.identity.name}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.IDENTITY.TITLE' | translate }}</td>
        <td class="title">{{model.metaData.identity.title}}</td>
      </tr>
      <tr>
        <td>{{ 'SHEET.IDENTITY.RELIGION' | translate }}</td>
        <td class="religion">{{model.metaData.identity.religion}}</td>
      </tr>
    </table>
  </div>
</div>
