<div class="sheetComponent">
  <div class="sheetComponentHeader">
    {{ 'SHEET.PLAYER_INFORMATION.PLAYER_INFORMATION' | translate }}
  </div>
  <div class="sheetComponentBody flex-container"
       fxLayout="row"
       fxLayoutWrap="nowrap"
       fxLayoutGap="16px">
    <div class="key flex-container flex-item"
         fxLayout="column"
         fxLayoutWrap="nowrap">
      <label class="flex-item"> {{ 'SHEET.PLAYER_INFORMATION.PLAYER' | translate }}</label>
      <label class="flex-item"> {{ 'SHEET.PLAYER_INFORMATION.CAMPAIGN' | translate }}</label>
      <label class="flex-item"> {{ 'SHEET.PLAYER_INFORMATION.CREATED_ON' | translate }}</label>
    </div>
    <div class="value flex-container flex-item"
         fxLayout="column"
         fxLayoutWrap="nowrap">
      <span class="flex-item">{{sheet.playerInformation.player}}</span>
      <span class="flex-item">{{sheet.playerInformation.campaign}}</span>
      <span class="flex-item">{{sheet.playerInformation.creationDate}}</span>
    </div>
  </div>
</div>
