@import "../../../gurpsy-material-theme";

.sheetComponent {
  border: black solid 1px;
  border-radius: 2px;
  margin: 3px 3px 3px 3px;
  font-size: 13px;
  font-family: 'Abel', sans-serif !important;
}

.sheetComponentHeader {
  background: md-color($accent);
  color: md-color($accent, default-contrast);
  text-align: center;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sheetComponentBody {
  padding: 0px 4px 0px 4px;

  label {
    white-space: nowrap;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
