
.sheetComponent .sheetComponentBody {
  padding: 0px 0px 2px 0px;

  table {

    tr.headerRow {
      td {
        border-right: none;
      }
    }

    td {
      text-align: right;
    }
    td:first-child {
      padding-left: 4px;
    }
    td:first-child, td:nth-child(2), td:nth-child(3) {
      text-align: center;
      border-right: solid black 1px;
    }
    td:last-child {
      width: inherit;
      max-width: inherit;
      padding-left: 6px;
      padding-right: 4px;
    }
  }
}
