<div class="sheetComponent flex-item"
     [ngClass]="{'editable': editMode}"
     fxFlex>
  <div class="sheetComponentHeader">
    {{ 'SHEET.DESCRIPTION.DESCRIPTION' | translate }}
  </div>
  <div class="sheetComponentBody flex-container"
       (click)="onRequestUpdate()"
       fxLayout="row"
       fxLayoutAlign="space-between stretch">
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.RACE' | translate }}</td>
          <td>{{sheet.metaData.description.race}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.GENDER' | translate }}</td>
          <td>{{sheet.metaData.description.gender}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.AGE' | translate }}</td>
          <td>{{sheet.metaData.description.age}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.BIRTHDAY' | translate }}</td>
          <td>{{sheet.metaData.description.birthday}}</td>
        </tr>
      </table>
    </div>
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.WEIGHT' | translate }}</td>
          <td matTooltip="{{sheet.metaData.description.weight.alternative | number:'.0-0'}}">
            {{sheet.metaData.description.weight.preferred | number:'.0-0'}}
          </td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.HEIGHT' | translate }}</td>
          <gurpsy-height-display [height]="sheet.metaData.description.height"></gurpsy-height-display>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.SIZE' | translate }}</td>
          <td>{{sheet.secondaryCharacteristics.sizeModifier}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.TL' | translate }}</td>
          <td>{{sheet.metaData.description.tl}}</td>
        </tr>
      </table>
    </div>
    <div class="flex-item" fxFlex="100%">
      <table>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.HAIR' | translate }}</td>
          <td>{{sheet.metaData.description.hair}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.EYES' | translate }}</td>
          <td>{{sheet.metaData.description.eyes}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.SKIN' | translate }}</td>
          <td>{{sheet.metaData.description.skin}}</td>
        </tr>
        <tr>
          <td>{{ 'SHEET.DESCRIPTION.HAND' | translate }}</td>
          <td>{{sheet.metaData.description.hand}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
