<div fxHide
     fxHide.xs="false">
  <div class="flex-container"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <gurpsy-portrait class="flex-item"></gurpsy-portrait>
    <gurpsy-points class="flex-item"></gurpsy-points>
  </div>
  <gurpsy-description></gurpsy-description>
</div>

<div class="flex-container"
     fxLayout="row"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap">
  <gurpsy-attributes class="flex-item"></gurpsy-attributes>
  <div class="flex-item flex-container"
       fxLayout="column"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <gurpsy-encumbrance class="flex-item"></gurpsy-encumbrance>
    <gurpsy-lifting-moving class="flex-item"></gurpsy-lifting-moving>
  </div>
  <gurpsy-hit-location class="flex-item"></gurpsy-hit-location>
  <gurpsy-fatigue-hit class="flex-item"></gurpsy-fatigue-hit>
</div>
