<div class="sideNavigation">
  <div class="sideNavigationHeader">
    <div class="portrait">
      <img src="assets/images/empty-portrait.png" alt="portrait"/>
    </div>
    <div class="closeButton">
      <button md-icon-button (click)="onCloseSideNav()">
        <md-icon>keyboard_backspace</md-icon>
      </button>
    </div>
  </div>
  <div class="sideNavigationBlock">
    <div class="sideNavigationBlockheader">{{'SETTINGS.SHEETVIEW'| translate}}</div>
    <div class="sideNavigationBlockContent">
      <button md-button class="sideNavigationBlockContentLine">
        <md-icon>accessibility</md-icon>
        <span>{{'SHEET.SUBJECT.ATTRIBUTES'| translate}}</span>
      </button>
      <button md-button class="sideNavigationBlockContentLine">
        <md-icon>hearing</md-icon>
        <span>{{'SHEET.SUBJECT.DIS_ADVANTAGES'| translate}}</span>
      </button>
      <button md-button class="sideNavigationBlockContentLine">
        <md-icon>school</md-icon>
        <span>{{'SHEET.SUBJECT.SKILLS'| translate}}</span>
      </button>
      <button md-button class="sideNavigationBlockContentLine">
        <md-icon>flash_on</md-icon>
        <span>{{'SHEET.SUBJECT.MAGIC'| translate}}</span>
      </button>
      <button md-button class="sideNavigationBlockContentLine">
        <md-icon>card_travel</md-icon>
        <span>{{'SHEET.SUBJECT.EQUIPMENT'| translate}}</span>
      </button>
      <button md-button class="sideNavigationBlockContentLine">
        <md-icon>mode_edit</md-icon>
        <span>{{'SHEET.SUBJECT.NOTES'| translate}}</span>
      </button>
    </div>
  </div>

  <div class="sideNavigationBlock">
    <div class="sideNavigationBlockheader">{{'SETTINGS.SETTINGS'| translate}}</div>
    <div class="sideNavigationBlockContent">
      <div class="sideNavigationBlockContentLine">
        <md-icon>g_translate</md-icon>
        <md-select [(ngModel)]="selectedLanguage" (ngModelChange)="onLanguageChange()">
          <md-option *ngFor="let language of languageOptions" [value]="language">
            {{language.locale| translate}}
          </md-option>
        </md-select>
      </div>
      <div class="sideNavigationBlockContentLine">
        <md-icon>important_devices</md-icon>
        <md-select [(ngModel)]="selectedTheme" (ngModelChange)="onThemeChange()">
          <md-option *ngFor="let theme of themeOptions" [value]="theme">
            {{theme.name| translate}}
          </md-option>
        </md-select>
      </div>
    </div>
  </div>
</div>
