.sideNavigation .sideNavigationHeader {
    height: 80px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--side-navigation-header-background-color);
    color: var(--side-navigation-header-font-color);
}

.sideNavigation .sideNavigationHeader .portrait {
    flex: auto;
    padding-left: 8px;
}

.sideNavigation .sideNavigationHeader .portrait img {
    padding-top: 8px;
    -webkit-clip-path: circle(25px at center);
    width: 50px;
}


.sideNavigation .sideNavigationMenu {
    color: var(--side-navigation-font-color);
}

.sideNavigation .sideNavigationMenu .sheetComponentMenu{
    margin: 20px 16px 16px 16px;
}

.sideNavigation .sideNavigationMenu .sheetSettingsMenu{
    margin: 20px 16px 16px 16px;
}

.sideNavigation .sideNavigationMenu .sheetSettingsMenu md-radio-button{
    display: block;
}



