.sideNavigation .sideNavigationHeader {
  height: 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sideNavigation .sideNavigationHeader .portrait {
  flex: auto;
  padding-left: 8px;
}

.sideNavigation .sideNavigationHeader .portrait img {
  padding-top: 8px;
  -webkit-clip-path: circle(25px at center);
  width: 50px;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockheader {
  display: block;
  font-size: small;
  font-weight: normal;
  margin: 8px 0px 0px 8px;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent {
  width: 100%;
  margin: 8px 0px 4px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine {
  display: flex;
  align-content: flex-start;
  padding: 0px 8px 0px 8px;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select {
  width: 100%;
  margin-right: 10px;
  margin-left: 3px;
  font-weight: normal;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-icon {
  padding-right: 16px;
  vertical-align: text-bottom;
}

.sideNavigation .sideNavigationBlock {
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}







