@import "../../../gurpsy-material-theme";

.sideNavigation .sideNavigationHeader .portrait {
  padding-left: 8px;
  padding-top: 30px;
}

.sideNavigation .sideNavigationHeader .transparentOverlay {
  height: 20px;
  width:  100%;
  background: white;
  opacity: 0.1;
}

.sideNavigation .sideNavigationHeader .closeButton {
  float: right;
}

.sideNavigation .sideNavigationHeader .portrait img {
  padding-top: 8px;
  -webkit-clip-path: circle(25px at center);
  width: 50px;
}


.sideNavigation .sideNavigationBlock {
  width: 100%;
  margin: 0px 0px 4px 0px;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContentLine {
  padding: 0px 8px 0px 8px;
  width: 100%;
}






