.sideNavigation {
  .sideNavigationHeader {
    width: 100%;
    .close {
      text-align: end;
    }
    .avatar {
      padding-left: 8px;
      img {
        width: 48px;
        height: 48px;
      }
    }
    .player {
      font-size: x-small;
      font-weight: 100;
      padding: 10px 0px 0px 8px;
    }
    .name {
      font-size: small;
      font-weight: 100;
      padding: 2px 0px 0px 8px;
    }
  }

  .sideNavigationContent {
    width: 100%;
    margin: 0px 0px 4px 0px;

    .sideNavigationButton {
      padding: 6px 8px 6px 8px;
      width: 100%;
      font-weight: inherit;

      span {
        text-align: left;
      }
      md-icon {
        padding: 6px 0px 6px 0px;
        margin-right: 24px;
      }
    }
  }
}



