<div class="sheetComponent">
    <div class="sheetComponentHeader">
        {{ 'SHEET.PLAYER_INFORMATION.PLAYER_INFORMATION' | translate }}
    </div>
    <div class="sheetComponentBody">
        <div class="sheetComponentBodyLine">
            <label> {{ 'SHEET.PLAYER_INFORMATION.PLAYER' | translate }}</label>
            <input type="text" placeholder="Steve Jackson">
        </div>
        <div class="sheetComponentBodyLine">
            <label> {{ 'SHEET.PLAYER_INFORMATION.CAMPAIGN' | translate }}</label>
            <input type="text" placeholder="Masters of Mayhem">
        </div>
        <div class="sheetComponentBodyLine">
            <label> {{ 'SHEET.PLAYER_INFORMATION.CREATED_ON' | translate }}</label>
            <input type="text" placeholder="Januari 1, 2000">
        </div>
    </div>
</div>
