<div class="sheetComponent">
  <div class="sheetComponentBody">
    <table class="headerRowTable">
      <tr class="headerRow">
        <td>{{ 'SHEET.ADVANTAGES.DISADVANTAGES' | translate }}</td>
        <td>{{ 'SHEET.ADVANTAGES.PTS' | translate }}</td>
        <td>{{ 'SHEET.ADVANTAGES.REF' | translate }}</td>
      </tr>
      <tr *ngFor="let disadvantage of sheet.disadvantages;">
        <td>{{disadvantage.name}}</td>
        <td>{{disadvantage.points}}</td>
        <td>{{disadvantage.pageReference}}</td>
      </tr>
    </table>
  </div>
</div>
