<div class="sheetComponent points">
  <div class="sheetComponentHeader">
    {{ 'SHEET.POINTS.POINTS' | translate }}
  </div>
  <div class="sheetComponentBody">
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.RACE' | translate }}</label>
      <span class="flex-item">{{sheet.points.race}}</span>
    </div>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutGap="10px"
         fxLayoutAlign="space-between stretch"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.ATTRIBUTES' | translate }}</label>
      <span class="flex-item">{{sheet.points.attributes}}</span>
    </div>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.ADVANTAGES' | translate }}</label>
      <span class="flex-item">{{sheet.points.advantages}}</span>
    </div>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.DISADVANTAGES' | translate }}</label>
      <span class="flex-item">{{sheet.points.disadvantages}}</span>
    </div>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.QUIRKS' | translate }}</label>
      <span class="flex-item">{{sheet.points.quirks}}</span>
    </div>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.SKILLS' | translate }}</label>
      <span class="flex-item">{{sheet.points.skills}}</span>
    </div>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.SPELLS' | translate }}</label>
      <span class="flex-item">{{sheet.points.spells}}</span>
    </div>
    <div class="earned flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         fxLayoutWrap="nowrap">
      <label class="flex-item">{{ 'SHEET.POINTS.EARNED' | translate }}</label>
      <span class="flex-item">{{sheet.points.earned}}</span>
    </div>
  </div>
</div>
