@import '~@angular/material/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-green, 900);
$accent:  mat-palette($mat-green, 400);
$warn: mat-palette($mat-red, A700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.gurpsy-dark {
  $dark-primary: mat-palette($mat-purple, 900);
  $dark-accent:  mat-palette($mat-purple, 500);
  $dark-warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
