html {
  height: 100%;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
  font-family: Roboto;
}

md-sidenav-container {
  height: 100%;

  .sideNavigationHeader {
    height: 140px;
    background: url(assets/images/day.png);
  }

  .mat-drawer-content {

    display: flex;
    flex-direction: column;
  }
}

md-sidenav-container.night {
  .sideNavigationHeader {
    background: url(assets/images/night.png);
  }
}

.mat-menu-panel .mat-menu-content {
  button {
    md-icon {
      margin-right: 16px;
      svg {
        vertical-align: top;
      }
    }
  }
}

.avatar {
  img {
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
  }
}





