@import '~@angular/material/theming';

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$gurpsy-dark-blue: (
  50: #E4E5E7,
  100: #BBBFC3,
  200: #8D949B,
  300: #5F6972,
  400: #3D4854,
  500: #1B2836,
  600: #182430,
  700: #141E29,
  800: #101822,
  900: #080F16,
  A100: #58A2FF,
  A200: #2586FF,
  A400: #006BF1,
  A700: #0060D7,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$gurpsy-light-blue: (
  50: #E4F4FD,
  100: #BBE3FB,
  200: #8ED0F9,
  300: #61BDF6,
  400: #3FAFF4,
  500: #1DA1F2,
  600: #1A99F0,
  700: #158FEE,
  800: #1185EC,
  900: #0A74E8,
  A100: #FFFFFF,
  A200: #DFEDFF,
  A400: #ACD0FF,
  A700: #92C1FF,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$gurpsy-green: (
  0: #FFFFFF,
  50: #F3FAE9,
  100: #E0F3C9,
  200: #CBEBA5,
  300: #B6E280,
  400: #A7DC65,
  500: #97D64A,
  600: #8FD143,
  700: #84CC3A,
  800: #7AC632,
  900: #69BC22,
  A100: #FAFFF6,
  A200: #DDFFC3,
  A400: #C0FF90,
  A700: #B2FF77,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$gurpsy-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$gurpsy-day-theme-foreground: (
  base: black,
  divider: rgba(black, 0.12),
  dividers: rgba(black, 0.12),
  disabled: rgba(black, 0.38),
  disabled-button: rgba(black, 0.38),
  disabled-text: rgba(black, 0.38),
  hint-text: rgba(black, 0.38),
  secondary-text: rgba(black, 0.54),
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87)
);

$gurpsy-day-theme-background: (
  status-bar: map_get($gurpsy-green, 300),
  app-bar: map_get($gurpsy-green, 300),
  background: map_get($gurpsy-green, 0),
  hover: map_get($gurpsy-green, 50),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: map_get($gurpsy-green, 100),
  focused-button: rgba(black, 0.12),
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200)
);

$gurpsy-night-theme-foreground: (
  base: white,
  divider: rgba(white, 0.12),
  dividers: rgba(white, 0.12),
  disabled: rgba(white, 0.3),
  disabled-button: rgba(white, 0.3),
  disabled-text: rgba(white, 0.3),
  hint-text: map_get($gurpsy-light-blue, 100),
  secondary-text: rgba(white, 0.4),
  icon: white,
  icons: white,
  text: white
);

$gurpsy-night-theme-background: (
  status-bar: black,
  app-bar: map_get($gurpsy-dark-blue, 500),
  background: map-get($gurpsy-dark-blue, 800),
  hover: rgba(white, 0.04),
  card: map_get($gurpsy-dark-blue, 500),
  dialog: map_get($gurpsy-dark-blue, 700),
  disabled-button: map_get($gurpsy-dark-blue, 300),
  raised-button: map-get($gurpsy-dark-blue, 800),
  focused-button: rgba(white, 0.12),
  selected-button: map_get($gurpsy-light-blue, 900),
  selected-disabled-button: map_get($gurpsy-dark-blue, 300),
  disabled-button-toggle: map_get($mat-grey, 1000)
);




