@import "gurpsy-material-theme";

html {
  height: 100%;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

md-sidenav {
  width: 200px;
}

md-sidenav-layout {
  height: 100%;
}

md-sidenav-layout.gurpsy-dark {
  background: black !important;
}

md-sidenav-layout .sideNavigationHeader {
  height: 90px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  color: md-color($primary, default-contrast);
  background: url(assets/images/day.jpg) md-color($accent);

}

md-sidenav-layout.gurpsy-dark .sideNavigationHeader {
  background: url(assets/images/night.jpg) md-color($accent);
}

md-sidenav-layout md-card {
  padding: 4px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger {
  border-bottom: none;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger .md-select-value,
.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger .md-select-arrow {
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger .md-select-arrow {
  margin-right: 0px;
}

