@import '~@angular/material/core/theming/all-theme';
@import 'gurpsy-palette';

@include mat-core();

// Mixin to be used to style custom components
@mixin gurpsy-theme($theme) {
  $accent: map-get($theme, accent);

  $primary: map-get($theme, primary);
  $backgroundMap: map-get($theme, background);
  $background: map-get($backgroundMap, background);
  $selectedButton: map-get($backgroundMap, raised-button);

  .sheetComponentHeader, .headerRow {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-sidenav-content {
    background: $background;
  }

  .sideNavigation {
    .sideNavigationHeader .avatar img {
      border: 1px solid mat-color($accent);
    }

    .sideNavigationContent {
      button {
        md-icon {
          color: mat-color($primary, default-contrast);
        }
      }
      button.selected {
        background: $selectedButton;
        md-icon {
          color: mat-color($primary);
        }
      }
    }
  }
}

// Creates a container object for a light theme to be given to individual component theme mixins.
@function gurpsy-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $gurpsy-light-theme-foreground,
    background: $gurpsy-light-theme-background,
  );
}

// Creates a container object for a dark theme to be given to individual component theme mixins.
@function gurpsy-dark-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $gurpsy-dark-theme-foreground,
    background: $gurpsy-dark-theme-background,
  );
}

$primary: mat-palette($gurpsy-green, 900);
$accent: mat-palette($gurpsy-light-blue, 400);
$warn: mat-palette($gurpsy-red, A700);

$theme: gurpsy-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// Place the day theme behind the .day selector
.day {
  @include gurpsy-theme($theme);
}

// Place the night theme behind the .night selector
.night {
  $dark-primary: mat-palette($gurpsy-light-blue, 900);
  $dark-accent: mat-palette($gurpsy-light-blue, 600);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: gurpsy-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
  @include gurpsy-theme($dark-theme);
}



