@import '~@angular/material/theming';
@import 'gurpsy-palette';

@include mat-core();

@function gurpsy-dark-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $gurpsy-night-theme-foreground,
    background: $gurpsy-night-theme-background,
  );
}

@function gurpsy-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $gurpsy-day-theme-foreground,
    background: $gurpsy-day-theme-background,
  );
}

@mixin gurpsy-theme($theme) {
  @include angular-material-theme($theme);
}

.day {
  $primary: mat-palette($gurpsy-green, 900);
  $accent: mat-palette($gurpsy-light-blue, 400);
  $warn: mat-palette($gurpsy-red, A700);

  $theme: gurpsy-light-theme($primary, $accent, $warn);

  @include gurpsy-theme($theme);
}

.night {
  $dark-primary: mat-palette($gurpsy-light-blue, 900);
  $dark-accent: mat-palette($gurpsy-light-blue, 600);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: gurpsy-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include gurpsy-theme($dark-theme);
}

// Mixin to be used to style custom components
//@mixin gurpsy-theme($theme) {
//
//  .sheetComponentHeader, .headerRow {
//    background: mat-color($primary);
//    color: mat-color($primary, default-contrast);
//  }
//
//  .mat-sidenav-content {
//    background: $background;
//  }
//
//  .sideNavigation {
//    .sideNavigationHeader .avatar img {
//      border: 1px solid mat-color($accent);
//    }
//
//    .sideNavigationContent {
//      button {
//        md-icon {
//          color: mat-color($primary, default-contrast);
//        }
//      }
//      button.selected {
//        background: $selectedButton;
//        md-icon {
//          color: mat-color($primary);
//        }
//      }
//    }
//  }
//}
