@import "gurpsy-material-theme";

html {
  height: 100%;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
  font-family: Roboto;
}

md-sidenav {
  width: 200px;

  .sideNavigationContent .sideNavigationContentLine md-icon {
    margin-right: 16px;

    svg {
      width: 24px;
      height: 24px;
    }

  }
}

md-sidenav-container {
  height: 100%;

  .sideNavigationHeader {
    height: 90px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    background: url(assets/images/day.png);
  }

  .mat-sidenav-content md-card {
    padding: 4px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

md-sidenav-container.night {
  .sideNavigationHeader {
    background: url(assets/images/night.png);
  }
}

.mat-menu-panel .mat-menu-content {
  button {
    md-icon {
      margin-right: 16px;
      svg {
        vertical-align: top;
      }
    }
  }
}

.avatar {
  img {
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
  }
}





