/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

:root {
    --max-width-sheet-large: 768px;
    --min-width-sheet-large: 620px;
    --max-width-sheet-medium: 619px;
    --min-width-device-medium: 320px;
    --max-width-device-small: 319px
}

html {
    height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
}

md-sidenav {
    width: 180px;
}

md-sidenav-layout {
    height: 100%;
}

.md-sidenav-content {
    background: var(--page-background-color);
}

.md-sidenav-over {
    background: var(--side-navigation-background-color);
}

.sideNavigation .sideNavigationHeader .closeButton .md-button-wrapper {
    color: var(--side-navigation-back-button);
}