:root {
  --max-width-sheet: 768px;
}

html {
  height: 100%;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

md-sidenav {
  width: 180px;
}

md-sidenav-layout {
  height: 100%;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine .md-button-wrapper {
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger {
  border-bottom: none;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger .md-select-value,
.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger .md-select-arrow {
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}

.sideNavigation .sideNavigationBlock .sideNavigationBlockContent .sideNavigationBlockContentLine md-select
.md-select-trigger .md-select-arrow {
  margin-right: 0px;
}
