<mat-dialog-content *ngIf="template"
                   class="playerInformationUpdater flex-container"
                   fxLayout="column">
  <mat-form-field class="flex-item">
    <input matInput placeholder="{{'SHEET.PLAYER_INFORMATION.PLAYER'| translate}}" [(ngModel)]="template.player"
           required>
    <mat-error>{{'MESSAGE.ERROR.REQUIRED_PLAYER'| translate}}</mat-error>
  </mat-form-field>
  <mat-form-field class="flex-item">
    <input matInput placeholder="{{'SHEET.PLAYER_INFORMATION.CAMPAIGN'| translate}}" [(ngModel)]="template.campaign">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions *ngIf="template" align="end">
  <button mat-button color="primary" [disabled]="!template.player || template.player.trim() === ''" (click)="onOk()">
    {{'DIALOG.OK'| translate}}
  </button>
  <button mat-button matDialogClose> {{'DIALOG.CANCEL'| translate}}</button>
</mat-dialog-actions>
