<h1 md-dialog-title
    class="header flex-container"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutWrap="nowrap">
  <md-icon
    class="flex-item">
    account_box
  </md-icon>
  <span class="flex-item"
        fxFlex="100%">
    {{'DIALOG.OPEN_SHEET.HEADER'| translate}}
  </span>
</h1>

<md-dialog-content>
  <md-card>
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="start stretch">
      <md-input-container
        class="flex-item"
        fxFlex="100%"
        (click)="fileInput.selectFile()">
        <input mdInput
               readonly
               [(ngModel)]="selectedSheetName"
               placeholder="{{'DIALOG.OPEN_SHEET.SELECT_FROM_FILE'| translate}}">
      </md-input-container>
      <gurpsy-file-input #fileInput class="flex-item"
                         (onFileSelect)="onFileSelect($event)"
                         [accept]="'application/json'">
      </gurpsy-file-input>
    </div>
  </md-card>
  <md-card *ngIf="previouslyOpenedSheets && previouslyOpenedSheets.length > 0">
    <div class="dialogCardHeader">
      {{'DIALOG.OPEN_SHEET.PREVIOUSLY'| translate}}
    </div>
    <div>
      <button md-button *ngFor="let sheet of previouslyOpenedSheets;" (click)="onPreviousSheetSelected(sheet)">
        <div class="sheetRow flex-container"
             fxLayout="row"
             fxLayoutAlign="start stretch">
          <div class="avatar flex-item">
            <img src="assets/images/empty-portrait.png">
          </div>
          <div class="sheetInfo">
            <span class="sheetName">{{sheet.metaData.identity.name}}</span>
            <span class="sheetPoints"> ({{sheet.points.total}} {{'SHEET.POINTS.POINTS'| translate}})</span>
          </div>
        </div>
      </button>
    </div>
  </md-card>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button color="primary" [disabled]="!showOk" (click)="onOk()"> {{'DIALOG.OK'| translate}}</button>
  <button md-button color="primary" md-dialog-close> {{'DIALOG.CANCEL'| translate}}</button>
</md-dialog-actions>
