<div class="sheetComponent">
  <div class="sheetComponentBody headerLess">
    <table class="headerRowTable">
      <tr class="headerRow">
        <td>{{ 'SHEET.SKILLS.SKILL' | translate }}</td>
        <td>{{ 'SHEET.SKILLS.SL' | translate }}</td>
        <td>{{ 'SHEET.SKILLS.RSL' | translate }}</td>
        <td>{{ 'SHEET.SKILLS.PTS' | translate }}</td>
        <td>{{ 'SHEET.SKILLS.REF' | translate }}</td>
      </tr>
      <tr *ngFor="let skill of sheet.skills;">
        <td>{{skill.name}}</td>
        <td>{{skill.points}}</td>
        <td>{{skill.controllingAttribute}}{{skill.level}}</td>
        <td>{{skill.points}}</td>
        <td>
          <gurpsy-page-reference [pageReference]="skill.pageReference"></gurpsy-page-reference>
        </td>
      </tr>
    </table>
  </div>
</div>
