<div class="sheetHeader flex-container"
     fxLayout="row"
     fxLayoutAlign="space-between stretch"
     fxLayoutWrap="nowrap">
  <gurpsy-portrait-component class="portraitWrapper flex-item"
                             fxFlex="112px"
                             fxHide="false"
                             fxHide.xs>
  </gurpsy-portrait-component>
  <div class="centerComponentsWrapper flex-container flex-item"
       fxLayout="column"
       fxLayoutAlign="start stretch"
       fxFlex="100%">
    <div class="centerComponentsFirstLineWrapper flex-container flex-item"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutWrap="nowrap">
      <gurpsy-identity-component class="identityWrapper flex-item"
                                 fxFlex="50%"></gurpsy-identity-component>
      <gurpsy-player-information-component class="playerInformationWrapper flex-item"
                                           fxFlex="50%"></gurpsy-player-information-component>
    </div>
    <gurpsy-description-component class="descriptionWrapper flex-item flex-container"
                                  fxLayout="column"
                                  fxLayoutAlign="start stretch"
                                  fxFlex
                                  fxHide="false"
                                  fxHide.xs
                                  ></gurpsy-description-component>
  </div>
  <gurpsy-points-component class="pointsWrapper flex-item"
                           fxFlex="130px"
                           fxHide="false"
                           fxHide.xs></gurpsy-points-component>
</div>
