<div class="sheetHeader">
    <portrait-component class="portraitWrapper"></portrait-component>
    <div class="centerComponentsWrapper">
        <div class="centerComponentsFirstLineWrapper">
            <identity-component class="identityWrapper"></identity-component>
            <player-information-component class="playerInformationWrapper"></player-information-component>
        </div>
        <description-component class="descriptionWrapper"></description-component>
    </div>
    <points-component class="pointsWrapper"></points-component>
</div>